:root { 
--blue_A100_01:#80bbff; 
--light_blue_A700_59:#0078ff59; 
--gray_50_01:#fcfcfc; 
--white_A700_7e:#ffffff7e; 
--red_200:#e39489; 
--blue_A100:#7fbbff; 
--blue_100_1e:#b2d6ff1e; 
--gray_50:#f9f9f9; 
--light_blue_A700_1e:#006fec1e; 
--black_900_01:#000000; 
--black_900:#000c19; 
--light_blue_A700:#0078ff; 
--blue_gray_800:#37474f; 
--gray_200_01:#efefef; 
--blue_gray_900_01:#263238; 
--blue_gray_700:#455a64; 
--gray_200_02:#f0f0f0; 
--blue_gray_900:#333333; 
--black_900_03:#010103; 
--black_900_02:#020100; 
--deep_orange_100:#fac6bf; 
--pink_200:#ff9cbd; 
--black_900_04:#0f1407; 
--gray_600:#706f7b; 
--gray_400:#c7c7c7; 
--black_900_0a:#0000000a; 
--blue_gray_200:#a9b1bb; 
--gray_500:#a6a6a6; 
--black_900_6c:#0000006c; 
--white_A700_a3:#ffffffa3; 
--gray_200:#ebebeb; 
--gray_300:#dbdbdb; 
--gray_300_01:#e0e0e0; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--white_A700_01:#fefefe; 
--blue_200:#9bc8fb; 
--gray_200_99:#ebebeb99; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}